@import "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $noir;
}

h1 {
  font-family: $title;
  font-weight: bold;
  font-size: 32px;
}

h2 {
  font-family: $title;
  font-size: 24px;
}

h3 {
  font-family: $title;
  font-size: 18px;
}

p {
  font-family: $para;
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  background-color: $orange-f;
  width: 70px;
  height: 70px;
  top: 30px;
  right: 30px;
  .cross-bar {
    top: 50%;
    left: 50%;
    height: 20px;
    width: 4px;
    background-color: $blanc;
    &.cross-bar-1 {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &.cross-bar-2 {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.circle {
  border-radius: 50%;
}

.absolute {
  position: absolute;
}

.absolute-center {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.m-auto {
  margin: auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.items-center {
  align-items: center;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.opacity-50 {
  opacity: 50%;
}

.block {
  display: block;
}

.relative {
  position: relative;
}
