* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "variables";
@import "classes";

@keyframes open-landing {
  from {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(0);
  }
  to {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(1);
  }
}

@keyframes close-landing {
  from {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(1);
  }
  to {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(0);
  }
}

body {
  background-color: $noir;
}

header {
  svg {
    margin-left: 15px;
    margin-top: 15px;
    width: 90px;
    height: 90px;
    cursor: pointer;
    .cls-1 {
      font-size: 15px;
      fill: #f2bb18;
      font-family: Roboto-Bold, Roboto;
      font-weight: 700;
    }
    .cls-2 {
      letter-spacing: -0.03em;
    }
    .cls-3 {
      font-size: 9px;
      fill: $blanc;
      font-family: ShipporiMinchoB1-Regular, Shippori Mincho B1;
    }
  }
}

.landing {
  background-color: $jaune;
  height: 65vh;
  width: 65vh;
  padding: 50px 90px;
  animation: open-landing 0.5s forwards;
  &.closed {
    animation: close-landing 0.5s forwards;
  }
  p:first-of-type {
    margin: 15px 0;
  }
  ul {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 13px 0;
    div {
      background-color: rgba(242, 127, 27, 0.5);
      height: 65px;
      width: 65px;
    }
    p {
      font-size: 12px;
    }
  }
  button {
    background-color: $orange-f;
    font-family: $title;
    font-weight: bold;
    border: none;
    height: 90px;
    width: 90px;
    color: $blanc;
    font-size: 18px;
    cursor: pointer;
  }
}

.side-bar {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  .icons-container {
    background-color: $blanc;
    height: 70vh;
    width: 125px;
    border-radius: 0 70px 70px 0;
    ul {
      flex-direction: column;
      justify-content: space-evenly;
      width: 100%;
      height: 50%;
      li {
        background-color: $orange-f;
        height: 50px;
        width: 50px;
        svg {
          height: 25px;
          width: 25px;
          fill: $blanc;
        }
      }
    }
    .side-bar-buttons {
      flex-direction: column;
      justify-content: space-evenly;
      width: 100%;
      height: 50%;
      button {
        background-color: $orange-f;
        font-family: $title;
        font-weight: bold;
        border: none;
        height: 70px;
        width: 70px;
        color: $blanc;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
}
