@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "variables";
@import "classes";
@import "keyframes";

// Header
header {
  svg {
    margin-left: 15px;
    margin-top: 15px;
    width: 90px;
    height: 90px;
    cursor: pointer;
    .cls-1 {
      font-size: 15px;
      fill: #f2bb18;
      font-family: Roboto-Bold, Roboto;
      font-weight: 700;
    }
    .cls-2 {
      letter-spacing: -0.03em;
    }
    .cls-3 {
      font-size: 9px;
      fill: $blanc;
      font-family: ShipporiMinchoB1-Regular, Shippori Mincho B1;
    }
  }
}
// fin header

// landing
.landing {
  background-color: $jaune;
  height: 65vh;
  width: 65vh;
  padding: 50px 90px;
  animation: open-landing 0.5s forwards;
  &.closed {
    animation: close-landing 0.5s forwards;
  }
  p:first-of-type {
    margin: 15px 0;
  }
  ul {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 13px 0;
    div {
      background-color: rgba(242, 127, 27, 0.5);
      height: 65px;
      width: 65px;
    }
    p {
      font-size: 12px;
    }
  }
  button {
    background-color: $orange-f;
    font-family: $title;
    font-weight: bold;
    height: 90px;
    width: 90px;
    color: $blanc;
    font-size: 18px;
  }
}
// fin landing

// side bar
.side-bar {
  top: 50%;
  transform: translateY(-50%);
  animation: close-side-bar 0.5s forwards;
  &.closed {
    animation: open-side-bar 0.5s forwards;
  }
  .icons-container {
    background-color: $blanc;
    height: 70vh;
    width: 125px;
    border-radius: 0 70px 70px 0;
    ul {
      flex-direction: column;
      justify-content: space-evenly;
      width: 100%;
      height: 50%;
      li {
        background-color: $orange-f;
        height: 50px;
        width: 50px;
        svg {
          height: 25px;
          width: 25px;
          fill: $blanc;
        }
      }
    }
    .side-bar-buttons {
      flex-direction: column;
      justify-content: space-evenly;
      width: 100%;
      height: 50%;
      button {
        background-color: $orange-f;
        font-family: $title;
        font-weight: bold;
        height: 70px;
        width: 70px;
        color: $blanc;
        font-size: 16px;
      }
    }
  }
  .extend-side-bar {
    cursor: pointer;
    background-color: $blanc;
    justify-self: center;
    width: 40px;
    height: 40px;
    border-radius: 0 25px 25px 0;
    img {
      transform: translate(-50%, -50%) rotateY(180deg);
    }
  }
}
// fin side bar

// about
.about {
  background-color: $blanc;
  border-radius: 0 50px 50px 0;
  height: 70vh;
  width: 50%;
  top: 50%;
  right: -100%;
  transform: translateY(-50%);
  animation: close-about 0.5s forwards;
  &.closed {
    animation: open-about 0.5s forwards;
  }
  .about-text {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 50px 100px 50px 50px;
  }
}
// fin about

// début contact
.contact {
  background-color: $blanc;
  border-radius: 0 50px 50px 0;
  height: 70vh;
  transform: translateY(-50%);
  top: 50%;
  width: 90%;
  animation: close-contact 0.5s forwards;
  &.closed {
    animation: open-contact 0.5s forwards;
  }
  .contact-text {
    flex-direction: column;
    width: 65%;
    height: 100%;
    padding: 50px 100px 50px 50px;
    .form-part {
      margin-top: 60px;
    }
    h3 {
      margin: 10% 0 5% 0;
    }
    h2{
      font-size: 32px;
    }
  }
  .input-field {
    position: relative;
    width: 40%
  }

  .input-field input[type="text"],
  .input-field input[type="email"]  {
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 16px;
    font-family: $para;
  }

  .input-field label {
    pointer-events: none;
    font-size: 16px;
    font-family: $para;
    filter: opacity(50%);
    display: block;
    transition: 0.5s;
  }

  .input-field input[type="text"]:focus + label,
  .input-field input[type="text"]:valid + label,
  .input-field input[type="email"]:focus + label,
  .input-field input[type="email"]:valid + label {
    transform: translateY(-25px);
    filter: opacity(100%);
  }
  
  .input-field span {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    background: #000;
    filter: opacity(50%);
    width: 100%;
    height: 1px;
  }

  .description-field {
    margin-top: 26px;
    position: relative;
    width: 60%
  }

  .description-field textarea  {
    height: 100%;
    width: 100%;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    box-shadow: none;
    font-size: 16px;
    font-family: $para;
  }

  .description-field label {
    pointer-events: none;
    font-size: 16px;
    font-family: $para;
    filter: opacity(50%);
    display: block;
    transition: 0.5s;
  }

  .description-field textarea:focus + label {
    transform: translateY(-25px);
    filter: opacity(100%);
  }

}

// fin contact
